<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 #{hey}     
        li #{indivuser.username}
        li #{indivuser.desc}
        li #{indivuser.isSuperUser}
        if sessionid
            form#uploadForm(enctype='multipart/form-data' action='/upload' method='post')
                input(type='hidden' name='individ' value=indivuser.id)
                input(type='file' name='file' multiple='')
                input(type='submit' value='Upload Image' name='submit')
        
        if file_uploaded
            p Files Uploaded Successfully
        
        if indivuser.filedata.length
            each i in indivuser.filedata
                img(src= i.path, alt="not available")


            
